*{
    box-sizing: border-box;
}

/* Base Style */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif; 
    font-size: 16px; 
    background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9)), url('Immagine-sfondo-2.jpg') no-repeat center center; 
    background-size: cover;
    overflow: hidden;
}

a {text-decoration: none;}

h1, h2, h3, h4, h5, p {padding-bottom: 30px; color: #000;}

p {line-height: 28px; color: #666; font-weight: 300;}

.big-text {font-size: 70px; font-weight: 900;}
.med-text {font-size: 40px;}
.normal-text {font-size: 20px;}
.small-text {font-size: 14px;}

.intro-text {text-transform: uppercase; font-size: 20px; font-weight: bold;}

.button {padding: 18px 28px; background: #316bff; color: #fff; display: inline-block; border-radius: 4px;}

@media (max-width: 768px)
{
    .big-text {font-size: 40px;}
}


/* Header */
.header
{
    width: 100%;
    height: 150px;
    background: white;
    border: 5px solid #ff286e;
}

.header__img {width: 20%; height: 100%; float: left;}
.header__img img {height: fit-content;}

.header__menu {width: 60%; float: left; display: block; margin: 0px; padding: 0px; text-align: center; height: 100%;}
.header__menu li {width: 32.5%; display: inline-block; margin: 49px 0px;}
.header__menu li a {padding: 15px; display: block; color: #000; font-weight: bold;}



/* Container */


/* Helpers */
.mt-1 {margin-top: 50px;}
.mt-2 {margin-top: 100px;}
.mt-3 {margin-top: 150px;}
.tw {color: #fff;}

@media (max-width: 768px)
{
    .mt-sma-0 {margin-top: 0;}
    .mb-sma-0 {margin-bottom: 0;}
}